{% extends 'base.html' %}

{% block content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'base' %}">Главная</a></li>
            <li class="breadcrumb-item active">{{ category.name }}</li>
        </ol>
    </nav>
    <div class="row">
        {% for product in products %}
            {% if product.category.slug == category.slug %}
          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
               <div style="width: 100%; height: 300px;.card img{ width: 100%;}">
                   <a href="{{ product.get_absolute_url }}"><img class="card-img-top" src="{{ product.image.url }}" alt=""></a></div>
              <div class="card-body">
                <h4 class="card-title">
                    <a href="{{ product.get_absolute_url }}">{{ product.title }}</a>
                </h4>
                <h5>{{ product.price }} $</h5>
                <a href="{% url 'add_to_cart' slug=product.slug %}">
                    <button class="btn btn-danger">Добавить в корзину</button></a>
              </div>
            </div>
          </div>
            {% endif %}
        {% endfor %}
        </div>
{% endblock content %}