{% extends 'base.html' %}

{% block content %}
    <div class="col-lg-9">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'base' %}">Главная</a></li>
            <li class="breadcrumb-item"><a href="">{{ product.category.name }}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ product.title }}</li>
        </ol>
    </nav>
    <div class="row">
        <div class="col-md-4">
            <img src="{{ product.image.url }}" class="img-fluid">
        </div>
        <div class="col-md-8">
            <h3>{{ product.title }}</h3>
            <p>цена: {{ product.price }}</p>
            <p>Описание: {{ product.description }}</p>
            <hr>
            <a href="{% url 'add_to_cart' slug=product.slug %}"><button class="btn btn-danger">Добавить в корзину</button></a>
        </div>
        <p class="mt-4">Характеристики:</p>
    </div>
    </div>
{% endblock content%}