{% extends 'product_features.html' %}
{% load crispy_forms_tags %}
{% block content %}

    <div  class="col-md-12">
        <form action="{% url 'new-category' %}" method="POST">
            {{ form|crispy }}
            <input type="submit" class="btn btn-success" value="Создать новую категорию">
        </form>
    </div>
{% endblock content %}