<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h3 class="text-center">Админка характеристик</h3>
    <hr>
    <div class="row">
        <div class="col-md-4">
            <a href="{% url 'new-category' %}" class="list-group-item list-group-item action {% if request.path == '/product-specs/new-category/' %}active {% endif %}">Создать новую категорию</a>
            <a href="{% url 'new-feature' %}" class="list-group-item list-group-item action {% if request.path == '/product-specs/new-feature/' %}active {% endif %}">Создать новую характеристику</a>
            <a href="#" class="list-group-item list-group-item action">Создать значение характеристики</a>
            <a href="#" class="list-group-item list-group-item action">Создать характеристику для товара</a>
            <a href="#" class="list-group-item list-group-item action">Редактировать характеристики товара</a>
        </div>
        <div class="col-md-8">
            {% block content %}

            {% endblock content %}
        </div>
    </div>
</div>

</body>
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.min.js" integrity="sha384-lpyLfhYuitXl2zRZ5Bn2fqnhNAKOAaM/0Kr9laMspuaMiZfGmfwRNFh8HlMy49eQ" crossorigin="anonymous"></script>
</html>